# Ignora file e directory di sistema
.DS_Store
Thumbs.db

# Ignora i file di log
*.log

# Ignora i file di configurazione specifici dell'editor
.vscode/
.idea/
*.swp

# Ignora i moduli di Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignora i file di configurazione di sistema operativo
*.bak
*.tmp

# Ignora i file di configurazione dell'ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignora i file generati da GitHub Pages (se usati)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignora file e directory di build
# dist/
# build/
# tmp/

# Ignora i file di configurazione personali
# config.js
